body {
  background: url(../aassets/logo_small.png) no-repeat center;
}
body .tabs {
  width: 400px;
  height: 40px;
  background-color: pink;
}
body .box {
  width: 100px;
  height: 100px;
  background-image: url(../assets/logo_small.png);
}
body .box2 {
  width: 100px;
  height: 100px;
  background-image: url(../assets/1.gif);
}
